body {
    background: lightgray;
    color: white;
}

h1, 
.info {
    
    font-family: Arial;
   
    text-align: center;
    
    font-size: 20px;
}


#rest2 {
    font-size: 13px;
}

#text div {
    position: relative;
    height: 200px;
    width: 200px;
    border: 1px dashed gray;
    display: inline-block;
    margin: 0;
}

#text {
    width: 614px;
    height: 614px;
    background: black;
    border: 5px solid black;
    margin: auto;
}

#images {
    width: 100%
}

img {
    height: 200px;
    width: 200px;
}

#drag4,
#drag5,
#drag6,
#drag7,
#drag8,
#drag9,
#drag10,
#drag11,
#drag12 {
    height: 200px;
    width: 200px;

   }